@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    color: #f2f2f2;
}
ul li{
    list-style: none;
    float: left;
}
a{
    color: #f2f2f2;
    text-decoration: none;
}
.bodyOn .header{
    border-bottom: transparent;
    background: rgba(0,0,0,0.2);
}
header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 30px 5% 0;
    z-index: 1;
    top: 50px;
    border-radius: 2.5rem;
    background: rgba(0,0,0,0.7);
    margin: 0 auto;
    width: 1024px;
    transition: all ease 2s 0s;
}

header .head-inner{
    display: flex;
    justify-content: space-between;
}
header ul li:hover a{
    text-decoration: underline;
}
.logo{
    font-size: 30px;
}
.categori{
    font-size: 20px;
}
.categori ul li{
    margin-right: 30px;
}
/* 스크롤 내렸을때 css active */
.active{
    background: rgba(0,0,0,0.2);
    width: 100%;
    top: 0;
    transition: all ease 2s 0s;
    border-radius: 0;
    padding: 30px 0 0;
}
#intro{
    height: 1080px;
    position: relative;
    padding-top: 90px;
}
.introduce{
    position: absolute;
    top: 40%;
    width: 50%;
    left: 10%;
}
.intro-txt{
    font-size: 100px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 48pt;
    line-height: 1.4;
    letter-spacing: 0;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
    top: 45%;
    color: #f2f2f2;
}
.bg-img{
    position: absolute;
    bottom: 10px;
}
.bg-img img{
    float: right;
    width: 50%;
}
#page{
    width: 100%;
    height: 1000px;
    overflow: hidden;
    padding-top: 2rem;
    position: relative;
}
#page .my-Privacy{
    width: 400px;
    height: 100px;
    background: #6e8ba3;
    transform:rotate(-5deg) skewX(-0.04turn);
    margin: 0 auto;
    z-index: 1;
}
#page .my-Privacy p{
    font-family: 'Do Hyeon', sans-serif;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
